@font-face {
  font-family: diroz;
  src: url(../public/Font/Dirooz.eot);
  src: url(../public/Font/Dirooz.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#scroll {
  position: fixed;
  right: 10px;
  bottom: 4px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 60px;
  z-index: 444;
  text-align: center;
  line-height: 50px;
  color: #f15252;
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: black;
  outline: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: diroz;
}

header {
  position: relative;
  background-color: #f15252;
  background-image: url(https://umx.ir/demo/nowruz-plus/assets/img/pattern.svg);
  background-size: 350px;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}
nav {
  background-color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  background-color: white;
  padding: 1rem;
}

.nav-title {
  font-size: 1.75rem;
}

.list {
  list-style: none;
  display: flex;
  gap: 3rem;
  font-weight: 600;
}

.list li a:hover {
  margin-top: 1rem;
  border-bottom: 2px solid black;
}

.main-header {
  background: #fff;
  padding: 0.5rem 0;
  border-radius: 0 0 0 200px;
}
.main-header-content {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}
.header-left {
  text-align: center;
}
.header-left-title {
  text-align: center;
  color: #f15252;
  font-size: 2.9rem;
  text-align: center;
}
.header-left-details {
  color: #666;
  font-size: 1.15rem;
  margin: 2rem;
  text-align: center;
}
.header-left-icon {
  font-size: 2.75rem;
  color: #666;
}
.header-left-icon:hover {
  color: #f15252;
  cursor: pointer;
}
.new-year-message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5rem;
  color: white;
}
#off {
  position: relative;
}
#off:before {
  background-image: url(https://umx.ir/demo/nowruz-plus/assets/img/white-grass.svg);
  content: "";
  width: 100%;
  height: 60px;
  position: absolute;
  top: -60px;
  background-repeat: repeat-x;
  background-position: bottom;
}
.noruzPlusTitle {
  text-align: center;
  color: #f15252;
  font-size: 1.5rem;
}
.noruzPlusTitle:before {
  content: "";
  width: 56px;
  height: 20px;
  background-image: url(https://umx.ir/demo/nowruz-plus/assets/img/circle.svg);
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  transform: rotate(180deg);
}
.noruzPlusTitle:after {
  content: "";
  width: 56px;
  height: 20px;
  background-image: url(https://umx.ir/demo/nowruz-plus/assets/img/circle.svg);
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
.special-offer-content {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.special-offer-bg {
  background-image: url(https://umx.ir/demo/nowruz-plus/assets/img/box.svg);
  max-width: 50%;
  width: 50%;
  height: 520px;
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
}
.special-offer-bg img {
  max-width: 490px;
  position: absolute;
  display: block;
  bottom: 0;
  top: 0;
  margin: auto 0;
  left: 40px;
}
.product-details {
  width: 50%;
}
.product-details-title {
  font-size: 1.85rem;
  margin-bottom: 2rem;
}
.old-price {
  color: #666;
  text-decoration: line-through;
}
.product-price-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.new-price {
  color: #f15252;
  font-size: 1.5rem;
}
.discountPercent {
  background-color: #f15252;
  padding: 0.3rem 1rem;
  color: white;
  border-radius: 100px;
}
.product-option {
  color: #666;
  margin-right: 1.2rem;
}
.product-price-btn {
  font: bold 18px/50px diroz;
  background: #2ecc70;
  color: #fff;
  display: flex;
  gap: 1.2rem;
  padding: 0 30px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  margin: 1.5rem auto 0 4rem;
}
.product-price-btn:hover {
  background-color: black;
  transition: ease-in-out 0.15s;
}
#discountedProducts {
  position: relative;
  background: #f5f5f5;
  padding-bottom: 110px;
  margin-top: 7rem;
}
#discountedProducts:before {
  background-image: url(https://umx.ir/demo/nowruz-plus/assets/img/grey-grass.svg);
  content: "";
  width: 100%;
  height: 60px;
  position: absolute;
  top: -60px;
  background-repeat: repeat-x;
  background-position: bottom;
}
.product-flex {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  grid-gap: 30px;
  margin-top: 3rem;
}
.product {
  padding: 15px;
  position: relative;
  background: #fff;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.product img {
  border-radius: 25px;
  max-width: 100%;
  height: auto;
}
.product-name {
  padding-top: 15px;
  margin-top: 15px;
  font: bold 18px/2 diroz;
  border-top: 1px solid #eeeeee;
}
.product-old-price {
  display: block;
  margin-top: 15px;
  font: normal 14px/36px diroz;
  color: #898989;
}
.product-new-price {
  display: block;
  font: bold 18px/2 diroz;
  color: #2ecc70;
  text-decoration: none;
}

.product:hover {
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.05);
  color: red;
  transition: ease-in-out 0.15s;
}
.product-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  border: none;
  margin: 60px auto 0 0;
  color: #fff;
  background: #f15252;
  font: bold 18px/50px diroz;
  padding: 0 30px;
  border-radius: 100px;
  cursor: pointer;
}
.product-btn i {
  font-size: 1.5rem;
  height: 45px;
}
.product-btn:hover {
  background-color: black;
  transition: ease-in-out 0.15s;
}
#discountCodes {
  position: relative;
  padding-bottom: 110px;
}
#discountCodes:before {
  background-image: url(https://umx.ir/demo/nowruz-plus/assets/img/white-grass.svg);
  content: "";
  width: 100%;
  height: 60px;
  position: absolute;
  top: -60px;
  background-repeat: repeat-x;
  background-position: bottom;
}
.discountCodes-content {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
}
.discountCodes-content-left {
  color: #898989;
  text-align: center;
  line-height: 45px;
}
.discountCodes-box {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-weight: 700;
  background-color: #eee;
  border-radius: 50px;
  margin: 3rem 2rem;
}
.discountCodes-box div {
  border: 1.5px solid;
  padding: 0.2rem 2rem;
  border-radius: 40px;
}
#services {
  background: #e9ffe5;
  position: relative;
}
#services:before {
  background-image: url(https://umx.ir/demo/nowruz-plus/assets/img/green-grass.svg);
  content: "";
  width: 100%;
  height: 60px;
  position: absolute;
  top: -60px;
  background-repeat: repeat-x;
  background-position: bottom;
}
.service-content {
  display: flex;
  justify-content: space-between;
}
.service-box {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 3rem 0 6rem 0;
}
.service-box div {
  border-right: 1px solid #2ecc70;
  margin-right: 10px;
  padding-right: 10px;
}
.service-box-title {
  font: bold 28px/2 diroz;
  color: #2ecc70;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
footer {
  position: relative;
  background: #f5f5f5;
  padding: 2rem 0 0 0;
}
footer:before {
  background-image: url(https://umx.ir/demo/nowruz-plus/assets/img/grey-grass.svg);
  content: "";
  width: 100%;
  height: 60px;
  position: absolute;
  top: -60px;
  background-repeat: repeat-x;
  background-position: bottom;
}
.footer-details {
  line-height: 45px;
  color: #666;
}
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.social-box {
  width: 50px;
  height: 50px;
  background: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 2.5px;
  font: normal 18px/36px vazir;
  color: #fff;
}
.social-box i {
  font-size: 1.3rem;
}
.social-box:hover {
  background-color: #2ecc70;
  transition: ease-in-out 0.15s;
}
.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  z-index: 33;
  position: relative;
}
footer:after {
  background-image: url(https://umx.ir/demo/nowruz-plus/assets/img/white-grass.svg);
  content: "";
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  background-repeat: repeat-x;
  background-position: bottom;
}

/*--------------------------------------- Responsive --------------------------------------- */
/* @media screen and (max-width: 992px) {
  .container {
    max-width: 955px;
    margin: 0 auto;
  }
} */
@media screen and (max-width: 990px) {
  .container {
    max-width: 740px;
    margin: 0 auto;
    padding: 0 .75rem;
  }
  .main-header-content {
    flex-direction: column;
  }
}
